<div class="grid p-4">
  <p-card
    header="Class Prediction Error for GridSearchCV"
    class="lg:col-6 col-12"
  >
    <p-chart
      type="bar"
      [data]="stackedData"
      [options]="stackedOptions"
    ></p-chart>
  </p-card>
  <p-card
    class="lg:col-6 col-12"
    header="Class Prediction Error for GridSearchCV"
  >
    <div class="flex align-items-center">
      <span class="text-vertical text-sm font-semibold">COUNT</span>
      <p-chart
        class="w-full"
        type="bar"
        [data]="basicData"
        [options]="basicOptions"
      ></p-chart>
    </div>
    <p class="text-center text-sm font-semibold mt-4">FAMI_ESTRATOVIVIENDA</p>
  </p-card>
  <p-card class="lg:col-6 col-12">
    <div echarts [options]="optionsPrueba" class="demo-chart"></div>
  </p-card>
  <p-card class="lg:col-6 col-12" header="ROC Curves for GridSearchCV">
    <p-chart
      type="line"
      [data]="lineStylesData"
      [options]="basicOptions"
    ></p-chart>
  </p-card>
</div>
